<table>
    <tr>
        <td>
            <%= sanitize pagy_info(@pagy, item_name: t('contacts.index.items', count: @pagy.count)) %>
        </td>
    </tr>
</table>
<table class="table">
    <thead>
        <tr>
            <th><%= sort_link(nil, :name) %></th>
            <th><%= sort_link(nil, :code) %></th>
            <th><%= sort_link(nil, :ident) %></th>
            <th><%= sort_link(nil, :created_at) %></th>
            <th class="table--action"></th>
        </tr>
    </thead>
    <% if @response.count.positive? %>
        <tbody>
            <% @contacts.each do |contact| %>
                <%= render 'contacts/partials/contact', contact: contact %>
            <% end %>
        </tbody>
    <% end %>
</table>
