<div class="page--block--header">
    <h2><%= t('contacts.show.general') %></h2>
</div>
<table class="table table__basic">
    <tbody>
        <tr>
            <th><%= t('contacts.show.code') %></th>
            <td><%= @contact[:code] %></td>
        </tr>
        <tr>
            <th><%= t('contacts.show.auth_info') %></th>
            <td><%= @contact[:auth_info] %></td>
        </tr>
        <tr>
            <th><%= t('contacts.show.ident') %></th>
            <td><%= ident_for(@contact) %></td>
        </tr>
        <tr>
            <th><%= t('contacts.show.email') %></th>
            <td><%= @contact[:email] %></td>
        </tr>
        <tr>
            <th><%= t('contacts.show.phone') %></th>
            <td><%= @contact[:phone] %></td>
        </tr>
        <% if @contact[:verified_at].present? %>
            <tr>
                <th><%= t('contacts.show.verification') %></th>
                <td>
                    Verified on <%= l(@contact[:verified_at].to_datetime, format: :long) %>
                </td>
            </tr>
        <% elsif @contact[:ident_request_sent_at].present? %>
            <tr>
                <th><%= t('contacts.show.verification') %></th>
                <td>Identification requested on <%= l(@contact[:ident_request_sent_at].to_datetime, format: :long) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
