<%= form_with scope: :search, method: :get do |form| %>
    <div class="row">
        <div class="col-md-5 col-md-offset-4 col-xs">
            <div class="form--field">
                <div class="form--input large">
                    <%= button_tag(type: 'submit', class: 'button button--primary') do %>
                        <i class="fas fa-arrow-right"></i>
                    <% end %>
                    <%= form.text_field :name_matches, 'aria-label': t(:search), class: 'input search', placeholder: t(:search), value: params[:search]&.dig(:name_matches) %>
                </div>
                <%= toggle_filter %>
            </div>
        </div>
    </div>
    <div id="filters" class="form--filters">
        <div class="row bottom-xs">
            <div class="col-md-3 col-xs-12">
                <%= form.label :code_eq, t('contacts.index.code'), class: 'form--label' %>
                <div class="form--field">
                    <div class="form--input small">
                        <%= form.text_field :code_eq, class: 'input', value: params[:search]&.dig(:code_eq) %>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <%= form.label :ident_matches, t('contacts.index.ident'), class: 'form--label' %>
                <div class="form--field">
                    <div class="form--input small">
                        <%= form.text_field :ident_matches, class: 'input', value: params[:search]&.dig(:ident_matches) %>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <%= form.label :ident_type_eq, t('contacts.index.ident_type'), class: 'form--label' %>
                <div class="form--field">
                    <div class="form--input small">
                        <%= simple_select_tag "search[ident_type_eq]",
                          options_for_select(t('contacts.form.IDENT_TYPES'), params[:search]&.dig(:ident_type_eq)) %>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <%= form.label :email_matches, t('contacts.index.email'), class: 'form--label' %>
                <div class="form--field">
                    <div class="form--input small">
                        <%= form.text_field :email_matches, class: 'input', value: params[:search]&.dig(:email_matches) %>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <%= form.label :country_code_eq, t('contacts.index.country_code'), class: 'form--label' %>
                <div class="form--field">
                    <div class="form--input small">
                        <%= simple_select_tag "search[country_code_eq]", ApplicationController.helpers.all_country_options(params[:search]&.dig(:country_code_eq)) %>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <%= form.label :types_contains_array, t('contacts.index.contact_type'), class: 'form--label' %>
                <div class="form--field">
                    <div class="form--input small">
                        <%= simple_select_tag "search[types_contains_array]",
                          options_for_select([:registrant] + ApplicationHelper::CONTACT_TYPE.keys,
                                            params[:search]&.dig(:types_contains_array)), { multiple: true } %>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <%= form.label :updated_at_gteq, t('contacts.index.updated_at'), class: 'form--label' %>
                <div class="form--field">
                    <div class="form--input small">
                        <%= form.date_field :updated_at_gteq, class: 'datepicker', value: params[:search]&.dig(:updated_at_gteq) %>
                        <div class="form--suffix"><i class="fas fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-12">
                <label class="form--label"><%= t('contacts.index.created_at') %></label>
                <div class="form--field">
                    <div class="form--input small">
                        <%= form.date_field :created_at_gteq, class: 'datepicker', value: params[:search]&.dig(:created_at_gteq) %>
                        <div class="form--suffix"><i class="fas fa-calendar"></i></div>
                    </div>
                    <span class="form--sep">-</span>
                    <div class="form--input small">
                        <%= form.date_field :created_at_lteq, class: 'datepicker', value: params[:search]&.dig(:created_at_lteq) %>
                        <div class="form--suffix"><i class="fas fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-xs-12">
                <%= form.label :statuses_contains_array, t('contacts.index.status'), class: 'form--label' %>
                <div class="form--field">
                    <div class="form--input small">
                        <%= simple_select_tag "search[statuses_contains_array]",
                            options_for_select(@statuses, params[:search]&.dig(:statuses_contains_array)),
                                               { multiple: true } %>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="form--actions">
                    <%= button_tag t(:filter), type: 'submit', class: 'button button--primary small' %>
                    <%= button_tag t(:clear_filter), type: 'reset', class: 'button button--link' %>
                </div>
            </div>
        </div>
    </div>
<% end %>
