<div class="paper--header">
    <h3><%= t('account.show.linked_users') %></h3>
</div>
<div class="paper--content">
    <table class="table table__basic">
        <thead>
            <tr>
                <th><%= t('account.show.user') %></th>
                <th><%= t('account.show.roll') %></th>
                <th class="table--action"><%= t('account.show.switch') %></th>
            </tr>
        </thead>
        <tbody>
            <% @account[:linked_users].each do |user| %>
                <tr>
                    <td><%= user[:username] %></td>
                    <td><%= user[:role] %></td>
                    <td class="table--action">
                        <%= link_to '<i class="fas fa-sign-in-alt"></i>'.html_safe, '#',
                                    'data-dialog': 'switch_user', 'data-user-id': user[:id],
                                    'data-user-name': user[:username],
                                    class: 'switch_users_link' %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
 <%= render 'account/partials/switch_form' %>
