<%= form_with scope: :search, method: :get do |form| %>
    <div class="row">
        <div class="col-md-5 col-md-offset-4 col-xs">
            <div class="form--field">
                <div class="form--input large">
                    <%= button_tag(type: 'submit', class: 'button button--primary') do %>
                        <i class="fas fa-arrow-right"></i>
                    <% end %>
                    <%= form.text_field :description_matches, 'aria-label': t(:search),
                                                              class: 'input search',
                                                              placeholder: t('account.index.search_description'),
                                                              value: params[:search]&.dig(:description_matches) %>
                </div>
                <%= toggle_filter %>
            </div>
        </div>
    </div>
    <div id="filters" class="form--filters">
        <div class="row bottom-xs">
            <div class="col-xs-auto">
                <%= form.label :created_at, t('account.index.receipt_date'), class: 'form--label' %>
                <div class="form--field">
                    <div class="form--input small">
                        <%= form.date_field :created_at_gteq, class: 'datepicker', value: params[:search]&.dig(:created_at_gteq) %>
                        <div class="form--suffix"><i class="fas fa-calendar"></i></div>
                    </div>
                    <span class="form--sep">-</span>
                    <div class="form--input small">
                        <%= form.date_field :created_at_lteq, class: 'datepicker', value: params[:search]&.dig(:created_at_lteq) %>
                        <div class="form--suffix"><i class="fas fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-xs-12">
                <%= form.label :activity_type_in, t('account.index.activity_type'), class: 'form--label' %>
                <div class="form--field">
                    <div class="form--input small">
                        <%= simple_select_tag "search[activity_type_in]",
                          options_for_select(@activity_types, params[:search]&.dig(:activity_type_in)), { multiple: true } %>
                    </div>
                </div>
            </div>
            <div class="col-md-auto col-xs-12">
                <div class="form--actions">
                    <%= button_tag t(:filter), type: 'submit', class: 'button button--primary small' %>
                    <%= button_tag t(:clear_filter), type: 'reset', class: 'button button--link' %>
                </div>
            </div>
        </div>
    </div>
<% end %>