<div class="dialog" id="switch_user">
    <div class="wrapper wrapper__small">
        <div class="paper paper--text__left">
            <div class="paper--header">
                <%= button_tag(class: 'button--close', type: '') do %>
                    <i class="fas fa-times"></i>
                <% end %>
                <h2 id="title"><%= t('account.show.switch_warning_html') %></h2>
            </div>
            <div class="paper--content">
                <%= form_with scope: :session, url: switch_user_path, class: 'form' do |form| %>
                    <%= form.hidden_field :user_id  %>
                    <div class="form--actions">
                        <%= form.submit t('account.show.switch'), class: 'button button--primary' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>