<div class="paper--header">
    <h3><%= t('account.show.white_ips') %></h3>
</div>
<% unless @account[:white_ips].empty? %>
    <div class="paper--content">
        <table class="table table__basic">
            <thead>
                <tr>
                    <th><%= t('account.show.ip') %></th>
                    <th><%= t('account.show.interfaces') %></th>
                    <th class="table--action"><%= t('account.show.committed') %></th>
                </tr>
            </thead>
            <tbody>
                <% @account[:white_ips].each do |ip| %>
                    <tr>
                        <td style="word-break:break-all;">
                            <%= link_to ip[:ipv4] || ip[:ipv6], white_ip_path(ip[:id]), 'data-turbo': false %>
                        </td>
                        <td>
                            <%= ip[:interfaces].join(', ').upcase if ip[:interfaces] %>
                        </td>
                        <td class="table--action">
                            <% if ip[:committed] %><i class="fas fa-check"></i><% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>
<% if can? :manage, 'WhiteIp' %>
    <div class="paper--footer">
        <div class="paper--footer__left">
            <%= link_to t(:add), 'javascript: void(0);', class: 'button button--primary', 'data-dialog': 'edit_white_ip',
                                                                                          'data-white-ip': "#{{}}" %>
        </div>
        <% unless @account[:white_ips].empty? %>
            <div class="paper--footer__right">
                <%= link_to "#{t(:download_csv)} <i class='fas fa-download'></i>".html_safe, white_ips_path(format: 'csv') %>
            </div>
        <% end %>
    </div>
<% end %>