<div class="page--block--header">
    <div class="row between-xs">
        <div class="col-xs-auto">
            <h2><%= t('api_users.show.certificates') %></h2>
        </div>
        <div class="col-xs-auto">
            <%= link_to "#{t('api_users.show.submit_csr')} <i class='fas fa-upload'></i>".html_safe, 'javascript: void(0);', 'data-dialog': 'upload_csr', class: 'mr-2' %>
            <%= button_to "#{t('api_users.show.generate_p12')} <i class='fas fa-key'></i>".html_safe, 
                create_p12_certificates_path(api_user_id: @api_user[:id]), 
                class: 'button button--secondary small' %>
        </div>
    </div>
</div>
<% if @api_user[:certificates].any? %>
    <table class="table">
        <thead>
            <tr>
                <th><%= t('api_users.show.subject') %></th>
                <th><%= t('api_users.show.expires_at') %></th>
                <th class="table--action"><%= t('api_users.show.status') %></th>
                <th class="table--action"><%= t('api_users.show.actions') %></th>
            </tr>
        </thead>
        <tbody>
            <% @api_user[:certificates].each do |cert| %>
                <tr>
                    <td style="word-break:break-all;"><%= link_to cert[:subject], api_user_certificate_path(@api_user[:id], cert[:id]) %></td>
                    <td><%= l cert[:expires_at].to_datetime if cert[:expires_at].present? %></td>
                    <td class="table--action"><%= t("certificates.show.status.#{cert[:status]}") %></td>
                    <td class="table--action">
                        <div class="button-group">
                            <% if cert[:status] == 'active' %>
                                <%= button_to "#{t('api_users.show.renew_certificate')} <i class='fas fa-sync'></i>".html_safe, 
                                    renew_api_user_certificate_path(@api_user[:id], cert[:id]), 
                                    method: :post,
                                    class: 'button button--secondary button--small mr-2',
                                    data: { confirm: t('api_users.show.renew_confirm') } %>
                            <% end %>
                            <% if current_user.super_user? && cert[:status] == 'active' %>
                                <%= button_to "#{t('api_users.show.revoke_certificate')} <i class='fas fa-ban'></i>".html_safe, 
                                    revoke_api_user_certificate_path(@api_user[:id], cert[:id]), 
                                    method: :post,
                                    class: 'button button--danger button--small',
                                    data: { confirm: t('api_users.show.revoke_confirm') } %>
                            <% end %>
                        </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <div class="empty-state">
        <p><%= t('api_users.show.no_certificates') %></p>
    </div>
<% end %>