<% content_for(:title) { "EIS | #{t('invoices.index.number')} #{@invoice[:number]}" } %>
<% content_for :hero do %>
    <div class="layout--hero">
        <h1><%= "#{t('invoices.index.number')} #{@invoice[:number]}" %></h1>
        <%= back_link %>
    </div>
<% end %>
<div class="page page--invoices--detail">
    <div class="page--header">
        <div class="wrapper">
            <div class="row center-xs">
                <div class="col-xs-auto">
                    <%= link_to t(:download), download_invoice_path(@invoice[:id]), class: 'button button--primary' %>
                </div>
                <div class="col-xs-auto">
                     <%= button_tag t(:send), 'data-dialog': 'invoice_send',
                                              'data-invoice-id': @invoice[:id],
                                              'data-recipient': @invoice[:recipient], class: 'button button--primary' %>
                </div>
                <% if @invoice[:payable] && @invoice[:payment_link].present? %>
                    <div class="col-xs-auto">
                        <%= button_to t(:pay), pay_path(invoice_number: @invoice[:number]), method: :post, class: 'button button--secondary' %>
                    </div>
                <% end %>
                <% if @invoice[:cancellable] && !@invoice[:monthly_invoice] %>
                    <div class="col-xs-auto">
                        <%= link_to t(:cancel), 'javascript: void(0);', class: 'button button--danger',
                                                                        'data-dialog': 'invoice_cancel',
                                                                        'data-invoice-id': @invoice[:id],
                                                                        'data-invoice-number': @invoice[:number] %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="page--block">
        <div class="wrapper">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <%= render 'invoices/partials/details' %>
            </div>
        </div>
    </div>
    <div class="page--block">
        <div class="wrapper">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <% if @invoice[:monthly_invoice] %>
                  <%= render 'invoices/partials/monthly_invoice_items' %>
                <% else %>
                  <%= render 'invoices/partials/items' %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= render 'invoices/partials/send_form' %>
<%= render 'invoices/partials/cancel_form' %>
