<div class="col-md-4 col-sm-8 col-xs-12">
    <div class="paper paper__light">
        <%= form_with scope: :bulk_change, url: contact_bulk_replace_path,
                                           class: 'form' do |form| %>
            <div class="form--row">
                <div class="form--header">
                    <h4><%= t('steps_controllers.bulk_change.tech_contact_replace_confirm', old_contact: @attrs[:current_contact_id], new_contact: @attrs[:new_contact_id] ) %></h4>
                </div>
            </div>
            <%= form.hidden_field :current_contact_id, value: @attrs[:current_contact_id] %>
            <%= form.hidden_field :new_contact_id, value: @attrs[:new_contact_id] %>
            <div class="form--actions">
                  <%= form.submit t('steps_controllers.bulk_change.confirm'), class: 'button button--primary' %>
            </div>
        <% end %>
    </div>
</div>