<div class="dialog" id="add_credit">
    <div class="wrapper wrapper__small">
        <div class="paper paper--text__left">
            <div class="paper--header">
                <%= button_tag(class: 'button--close', type: '') do %>
                    <i class="fas fa-times"></i>
                <% end %>
                <h2><%= t(:add_credit) %></h2>
            </div>
            <div class="paper--content">
                <%= form_with scope: :invoice, url: add_credit_path, class: 'form' do |form| %>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form--row">
                                <%= form.label :amount, "#{t('invoices.index.amount')} *", class: 'form--label' %>
                                <div class="form--field">
                                    <div class="form--input">
                                        <%= form.text_field :amount, value: '0.0',
                                                                     required: true,
                                                                     autofocus: true,
                                                                     pattern: '^\d+([.,]\d{1,2})?$',
                                                                     class: 'input' %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form--row">
                                <%= form.label :description, "#{t('invoices.index.description')}", class: 'form--label' %>
                                <div class="form--field">
                                    <div class="form--input">
                                        <%= form.text_area :description, rows: 5,
                                                                         class: 'textarea' %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form--actions">
                        <%= form.submit t(:add), class: 'button button--primary' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>