<div class="dialog" id="invoice_cancel">
    <div class="wrapper wrapper__small">
        <div class="paper paper--text__left">
            <div class="paper--header">
                <%= button_tag(class: 'button--close', type: '') do %>
                    <i class="fas fa-times"></i>
                <% end %>
                <h2 id="title"><%= t('invoices.index.cancel_warning_html') %></h2>
            </div>
            <div class="paper--content">
                <%= form_with scope: :invoice, url: cancel_invoice_path, class: 'form' do |form| %>
                    <%= form.hidden_field :id %>
                    <div class="form--actions">
                        <%= form.submit t(:cancel), class: 'button button--danger' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>