<div class="page--block--header">
    <h2><%= t('invoices.show.details') %></h2>
</div>
<table class="table table__basic">
    <tbody>
        <tr>
            <th><%= t('invoices.show.buyer') %></th>
            <td><%= @invoice[:buyer][:name] %></td>
        </tr>
        <tr>
            <th><%= t('invoices.show.issue_date') %></th>
            <td><%= l @invoice[:issue_date].to_date %></td>
        </tr>
        <% if @invoice[:cancelled_at].present? %>
            <tr>
                <th><%= t('invoices.show.cancelled_at') %></th>
                <td><%= l @invoice[:cancelled_at].to_date %></td>
            </tr>
        <% end %>
        <tr>
            <th><%= t('invoices.show.due_date') %></th>
            <% if @invoice[:cancelled_at].present? %>
                <td class="text-grey"><%= t('invoices.index.cancelled') %></td>
            <% else %>
                <td><%= l @invoice[:due_date].to_date %></td>
            <% end %>
        </tr>
        <tr>
            <th><%= t('invoices.show.receipt_date') %></th>
            <% if @invoice[:paid] %>
                <td><%= l @invoice[:receipt_date].to_date %></td>
            <% elsif @invoice[:cancelled_at].present? %>
                <td class="text-grey"><%= t('invoices.index.cancelled') %></td>
            <% elsif @invoice[:monthly_invoice] %>
                <td><%= l @invoice[:issue_date].to_date %></td>
            <% else %>
                <td class="text-danger"><%= t('invoices.index.unpaid') %></td>
            <% end %>
        </tr>
        <% unless @invoice[:monthly_invoice] %>
            <tr>
                <th><%= t('invoices.show.payment_term') %></th>
                <td><%= t('invoices.show.prepayment') %></td>
            </tr>
        <% end %>
        <tr>
            <th><%= t('invoices.show.ref_no') %></th>
            <td><%= @invoice[:reference_no] %></td>
        </tr>
        <% if @invoice[:description].present? %>
            <tr>
                <th><%= t('invoices.show.description') %></th>
                <td><%= @invoice[:description] %></td>
            </tr>
        <% end %>
        <tr>
            <th><%= t('invoices.show.total') %></th>
            <td><strong><%= number_to_currency @invoice[:total] %></strong></td>
        </tr>
    </tbody>
</table>