<div class="page--block--header">
    <h2><%= t('invoices.show.items') %></h2>
</div>
<table class="table">
    <thead>
        <tr>
            <th><%= t('invoices.show.code') %></th>
            <th><%= t('invoices.show.quantity') %></th>
            <th><%= t('invoices.show.unit') %></th>
            <th><%= t('invoices.show.item_description') %></th>
            <th><%= t('invoices.show.price') %></th>
            <th><%= t('invoices.index.total') %></th>
        </tr>
    </thead>
    <tbody>
        <% @invoice[:items].each do |item| %>
            <tr>
                <td><%= item[:product_id] %></td>
                <td><%= item[:quantity] %></td>
                <td><%= item[:unit] %></td>
                <td><%= item[:description] %></td>
                <% if item[:price] && item[:quantity] %>
                    <td><%= currency(item[:price].to_f) %></td>
                    <td><%= currency(item[:price].to_f * item[:quantity]) %></td>
                <% else %>
                    <td></td>
                    <td></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
    <tfoot>
        <tr>
            <th class="no-border"></th>
            <th class="no-border"></th>
            <th class="no-border"></th>
            <th class="no-border"></th>
            <th><strong><%= t('invoices.show.subtotal') %></strong></th>
            <td><strong><%= number_to_currency(0) %></strong></td>
        </tr>
        <tr>
            <th class="no-border"></th>
            <th class="no-border"></th>
            <th class="no-border"></th>
            <th class="no-border"></th>
            <th><strong><%= "#{t('invoices.show.vat')} #{number_to_percentage(@invoice[:vat_rate], precision: 1)}" %></strong></th>
            <td><strong><%= number_to_currency(0) %></strong></td>
        </tr>
        <tr>
            <th class="no-border"></th>
            <th class="no-border"></th>
            <th class="no-border"></th>
            <th class="no-border"></th>
            <th class="no-border"><strong><%= t('invoices.show.total') %></strong></th>
            <td><strong><%= number_to_currency(0) %></strong></td>
        </tr>
    </tfoot>
</table>