<% content_for(:title) { "EIS | #{t('domains.transfer.title')}" } %>
<% content_for :hero do %>
    <div class="layout--hero">
        <h1><%= t('domains.transfer.title') %></h1>
        <%= back_link %>
    </div>
<% end %>
<div class="page page--domains-transferral">
    <div class="page--content">
        <div class="wrapper">
            <div class="row center-xs">
                <div class="col-md-4 col-sm-8 col-xs-12">
                    <div class="paper paper__light">
                        <div class="paper--content">
                            <%= form_with scope: :domain, url: domain_transfer_path,
                                                          class: 'form', 
                                                          multipart: true,
                                                          data: { turbo: true }  do |form| %>
                                <div class="form--row">
                                    <%= form.label :name, "#{t('domains.transfer.domain_name')} *", class: 'form--label' %>
                                    <div class="form--field">
                                        <div class="form--input">
                                            <%= form.text_field :name, class: 'input', autofocus: true, required: true %>
                                        </div>
                                    </div>
                                </div>
                                <div class="form--row">
                                    <%= form.label :transfer_code, "#{t('domains.show.transfer_code')} *", class: 'form--label' %>
                                    <div class="form--field">
                                        <div class="form--input">
                                            <%= form.text_field :transfer_code, value: params[:transfer_code],
                                                                                class: 'input', required: true %>
                                        </div>
                                    </div>
                                </div>
                                <div class="form--header">
                                    <h3><%= t('domains.transfer.legal_doc') %></h3>
                                </div>
                                <div class="form--row">
                                    <div class="form--field">
                                        <div class="form--input">
                                            <ul class="file--list"></ul>
                                            <%= form.label :legal_document, class: 'file' do %>
                                                <%= form.file_field :legal_document, hidden: 'hidden',
                                                                                     accept: legal_document_types %>
                                                <i class="fas fa-folder-open"></i>
                                                <strong><%= t(:choose_file) %></strong>
                                                <span>(max. 8MB)</span>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                                <div class="form--actions">
                                    <%= form.submit t(:transfer), class: 'button button--primary' %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

