<div class="col-md-4 col-sm-8 col-xs-12">
    <div class="paper paper__light">
        <%= form_with scope: :bulk_change, url: domain_bulk_renew_path,
                                          class: 'form' do |form| %>
            <div class="form--row">
                <div class="form--header">
                    <% period = t('domains.form.DOMAIN_PERIODS').find { |p| p[1] == @attrs[:period] }[0] %>
                    <h4><%= t('steps_controllers.bulk_change.domains_renew_confirm', count: @attrs[:selected_domains].size,
                                                                                     period: period) %>
                    </h4>
                </div>
            </div>
            <%= form.hidden_field :domains, value: @attrs[:selected_domains].join(',') %>
            <%= form.hidden_field :renew_period, value: @attrs[:period] %>
            <%= render 'steps_controllers/bulk_change/partials/form_actions', action: 'confirm', form: form %>
        <% end %>
    </div>
</div>