<% content_for(:title) { "EIS | #{current_user.username}" } %>
<% content_for :hero do %>
    <div class="layout--hero">
        <h1><%= current_user.username %></h1>
        <%= back_link %>
    </div>
<% end %>
<div class="page page--account">
    <div class="page--content">
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="paper">
                        <%= render 'account/partials/details' %>
                    </div>
                    <% if can? :manage, 'balance_auto_reload' %>
                        <div class="paper">
                            <%= render 'account/partials/balance_reload' %>
                        </div>
                    <% end %>
                    <% if !Rails.env.production? && @account[:linked_users].any? %>
                        <div id="linked_users" class="paper">
                            <%= render 'account/partials/linked_users' %>
                        </div>
                    <% end %>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div id="api_users" class="paper">
                        <%= render 'account/partials/api_users' %>
                    </div>
                    <div id="white_ips" class="paper">
                        <%= render 'account/partials/white_ips' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render 'account/partials/details_form' %>
<%= render 'account/partials/balance_reload_form' if can? :manage, 'balance_auto_reload' %>
<%= render 'api_users/partials/api_user_form', url: api_users_path, method: :post if can? :manage, 'ApiUser' %>
<%= render 'white_ips/partials/white_ip_form', url: white_ips_path, method: :post if can? :manage, 'WhiteIp' %>
