<div class="col-md-4 col-sm-8 col-xs-12">
    <div class="paper paper__light">
        <%= form_with scope: :bulk_change, url: nameserver_bulk_change_path,
                                          class: 'form' do |form| %>
            <div class="form--row">
                <div class="form--header">
                    <% if @attrs[:old_hostname].present? %>
                        <h4><%= t('steps_controllers.bulk_change.ns_replace_confirm1', old_hostname: @attrs[:old_hostname], new_hostname: @attrs[:new_hostname] ) %></h4>
                    <% else %>
                        <h4><%= t('steps_controllers.bulk_change.ns_replace_confirm2', hostname: @attrs[:new_hostname]) %></h4>
                    <% end %>
                </div>
            </div>
            <%= form.hidden_field :new_hostname, value: @attrs[:new_hostname] %>
            <%= form.hidden_field :old_hostname, value: @attrs[:old_hostname] %>
            <%= form.hidden_field :ipv4, value: @attrs[:ipv4] %>
            <%= form.hidden_field :ipv6, value: @attrs[:ipv6] %>
            <%= form.hidden_field :batch_file, value: @attrs[:batch_file_encoded] %>
            <%= render 'steps_controllers/bulk_change/partials/form_actions', action: 'confirm', form: form %>
        <% end %>
    </div>
</div>