<%= form_with scope: :search, url: market_share_path(type: @type), method: :get do |form| %>
    <div class="row">
        <div class="col-md-12 col-xs center-xs">
            <div class="text-center">
                <%= toggle_filter(reverse: params[:search].present?) %>
            </div>
        </div>
    </div>
    <div id="filters" class="form--filters <%= 'open' if params[:search] %>">
        <div class="row bottom-xs">
            <div class="col-md-5 col-xs-12">
                <%= form.label :period, t('stats.market_share.index.period'), class: 'form--label' %>
                <div class="form--field">
                    <div class="form--input small">
                        <%= form.date_field :end_date, class: 'datepicker', value: params[:search]&.dig(:end_date), dateFormat: 'm.y', minDate: '2015/12/01' %>
                        <div class="form--suffix"><i class="fas fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <% if @type == 'growth_rate' %>
                <div class="col-md-5 col-xs-12">
                    <%= form.label :compare_period, t('stats.market_share.index.compare_to'), class: 'form--label' %>
                    <div class="form--field">
                        <div class="form--input small">
                            <%= form.date_field :compare_to_end_date, class: 'datepicker', value: params[:search]&.dig(:compare_to_end_date), dateFormat: 'm.y', minDate: '2015/12/01' %>
                            <div class="form--suffix"><i class="fas fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            <% end %>
            <div class="col-md-auto col-xs-8">
                <div class="form--actions">
                    <%= button_tag t(:filter), type: 'submit', class: 'button button--primary small' %>
                    <%= link_to t(:clear_filter), "#{url_for(request.params.slice(:type))}", class: 'button button--link', data: { turbo: false } %>
                </div>
            </div>
        </div>
    </div>
<% end %>