<footer class="layout--footer">
    <div class="layout--footer-top">
        <a class="layout--footer-logo" href="https://internet.ee">
            <img src="/eis-logo-white.svg" alt="Eesti Interneti SA">
        </a>
        <div class="layout--footer-contacts">
            <div class="address">
                <h3><%= t('.copyright') %></h3>
                <p><%= t('.address') %></p>
                <p><%= t('.registration_code') %></p>
            </div>
            <ul class="quickinfo">
                <li><i aria-hidden="true" class="fas fa-envelope"></i><a href="mailto:info@internet.ee">info@internet.ee</a></li>
                <li><i aria-hidden="true" class="fas fa-phone"></i>727 1000</li>
            </ul>
        </div>
    </div>
    <div class="layout--footer-bottom">
        <nav class="menu--footer">
            <div class="column">
                <h3><%= t('.help_and_info') %></h3>
                <ul>
                    <li><a title="https://internet.ee/domeenid/ee-domeenireeglid" href="https://internet.ee/domeenid/ee-domeenireeglid" target="_blank"><%= t('.domain_regulation') %></a></li>
                    <li><a title="https://internet.ee/abi-ja-info/kkk" href="https://internet.ee/abi-ja-info/kkk" target="_self"><%= t('.faq') %></a></li>
                    <li><a href="https://internet.ee/abi-ja-info/statistika" target="_self"><%= t('.statistics') %></a></li>
                    <li><a title="https://internet.ee/domeenivaidlused/domeenivaidluste-komisjon" href="https://internet.ee/domeenivaidlused/domeenivaidluste-komisjon" target="_self"><%= t('.dispute_committee') %></a></li>
                    <li><a href="javascript:void(0)" title="Cookie Settings" data-cc="c-settings"><%= t('.cookie_settings') %></a></li>
                </ul>
            </div>
            <div class="column">
                <h3><%= t('.registrars') %></h3>
                <ul>
                    <li><a title="https://internet.ee/registripidajad/akrediteeritud-registripidajad" href="https://internet.ee/registripidajad/akrediteeritud-registripidajad" target="_self"><%= t('.list_of_accredited_registrars') %></a></li>
                    <li><a title="https://internet.ee/registripidajad/kuidas-saada-ee-akrediteeritud-registripidajaks" href="https://internet.ee/registripidajad/kuidas-saada-ee-akrediteeritud-registripidajaks" target="_self"><%= t('.terms_and_conditions_for_registrars') %></a></li>
                    <li><a href="https://internet.ee/registripidajad/kuidas-saada-ee-elite-partneriks" target="_self"><%= t('.partner_programme') %></a></li>
                </ul>
            </div>
            <div class="column">
                <h3><%= t('.estonian_internet') %></h3>
                <ul>
                    <li><a href="https://internet.ee/eis" target="_self"><%= t('.contact_us') %></a></li>
                    <li><a title="https://internet.ee/eis/ulesanded-juhatus-ja-noukogu" href="https://internet.ee/eis/ulesanded-juhatus-ja-noukogu" target="_self"><%= t('.management') %></a></li>
                    <li><a title="https://internet.ee/eis/dokumendid" href="https://internet.ee/eis/dokumendid" target="_self"><%= t('.documents') %></a></li>
                </ul>
            </div>
        </nav>
        <nav class="menu--social">
            <h3><%= t('.social_media') %></h3>
            <ul>
                <li><a href="https://www.facebook.com/EE-748656818569233/" title="Facebook"><i aria-hidden="true" class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://twitter.com/Eesti_Internet" title="Twitter"><i aria-hidden="true" class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UC7nTB6zIwZYPFarlbKuEPRA" title="Youtube"><i aria-hidden="true" class="fab fa-youtube-square"></i></a></li>
                <li><a href="https://internet.ee/index.rss" title="RSS"><i aria-hidden="true" class="fas fa-rss-square"></i></a></li>
            </ul>
        </nav>
    </div>
</footer>
<script crossorigin="anonymous" src="https://polyfill-fastly.io/v3/polyfill.min.js?features=Array.from%2CArray.prototype.find%2CArray.prototype.includes%2CSymbol%2CSymbol.iterator%2CDOMTokenList%2CObject.assign%2CCustomEvent%2CElement.prototype.classList%2CElement.prototype.closest%2CElement.prototype.dataset"></script>
